@import "~bootstrap/scss/bootstrap";

body {
  background-color: pink;
}

#navbar {
  background-color: lightblue;
  height: 6em;
}

input {
  // margin-top: 30px;

}

.form-group {
  // margin-top: 40px;
  // margin-left: 8em;
}